[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.5"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "homebrew", "msi"]
# A GitHub repo to push Homebrew formulas to
tap = "tower/tower-cli"
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "aarch64-unknown-linux-gnu", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl"]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Publish jobs to run in CI
publish-jobs = ["./publish-pypi"]
# Whether to install an updater program
install-updater = false
# Whether dist should create a Github Release or use an existing draft
create-release = true
# Which actions to run on pull requests
pr-run-mode = "skip"
# Local artifacts jobs to run in CI
local-artifacts-jobs = ["./build-binaries"]
# Whether to publish prereleases to package managers
publish-prereleases = true

[dist.github-custom-runners]
global = "ubuntu-22.04"

[dist.github-custom-runners.x86_64-unknown-linux-gnu]
runner = "ubuntu-latest"

[dist.github-custom-runners.aarch64-unknown-linux-gnu]
runner = "ubuntu-latest"

[dist.github-custom-runners.x86_64-apple-darwin]
runner = "macos-15"

[dist.github-custom-runners.aarch64-apple-darwin]
runner = "macos-15"
