# Generator Configuration
generatorName: rust
inputSpec: openapi.json
outputDir: ../crates/tower-api
httpUserAgent: "Tower CLI"
templateDir: rust-client-templates
nameMappings:
  $schema: schema
  App: deprecated_app

globalProperties:
  modelDocs: false
  apiDocs: false

additionalProperties:
  packageName: tower-api
  packageVersion: "1.0.0"
  # Rust client options
  supportAsync: true
  supportMultipleResponses: true
  useSingleRequestParameter: true
  generateOptionalConstructor: true
  library: reqwest
  bestFitInt: true
  dateLibrary: chrono
  useRustLogging: true
  avoidBoxedModels: true
